# We're currently stuck on idf3 because of Clion compat, this has to be transferred manually.....

CONFIG_ENABLE_ARDUINO_DEPENDS=y
CONFIG_AUTOSTART_ARDUINO=y

# Run all on core 0
CONFIG_ARDUINO_UDP_RUNNING_CORE=0

CONFIG_ESPTOOLPY_FLASHSIZE="4MB"
CONFIG_ESPTOOLPY_FLASHSIZE_4MB=y

CONFIG_ESP32_DEFAULT_CPU_FREQ_240=y
CONFIG_ESP32_DEFAULT_CPU_FREQ_MHZ=240

CONFIG_MBEDTLS_PSK_MODES=y